# Ignorar todo
*

# Permitir archivos Markdown (.md)
!*.md

# Permitir carpetas src
!src/
!src/**

# Permitir archivos con extensión .rs y carpetas que contienen .rs
!*.rs
!*/*.rs

!ownership/
!product/
!concurrency-and-ffi/
